{%extends 'main/base.html'%}
{% load static %}


{% block add_link %}

<link rel="stylesheet" href="{% static 'user_auth/css/register_and_login.css'%}" type="text/css">

{%endblock%}

{% block content %}
<p style="margin-left:5%;"><b>Регистрация</b></p>
<form id="register_and_login" action="" method="post">
    {% csrf_token %}
    {% for f in form %}
        <p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
        <div class="form-error">{{ f.errors }}</div>
    {% endfor %}

    <button class="form-button">Зарегистрироваться</button>
</form>

{%endblock%}